.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  > div {
    padding: 15px 40px 40px;
    margin: 0 auto;
    border: 1px solid #25a4ff;
    border-radius: 10px;
  }

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    box-sizing: border-box;
    display: block;
    height: 24px;
  }
}

.inputBox {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  font-size: 17px;
  margin-bottom: 40px;

  input {
    height: 28px;
    margin: 1px 1px 0 1px;
    padding: 10px 15px;
    width: 20em;

    &:focus ~ label,
    &:global(.input) ~ label {
      left: 2px;
      transform: scale(0.75) translateY(-35px);
    }
  }

  :global(.error-message) {
    position: absolute;
    bottom: -22px;
    font-size: 12pt;
    color: red;
    right: 10px;

    + input {
      background-color: #fce4e4;
      border: 1px solid #cc0033;
      outline: none;
    }
  }
  label {
    pointer-events: none;
    position: absolute;
    bottom: 12px;
    padding: 2px 8px;
    background-color: white;
    left: 8px;
    transition: transform 100ms cubic-bezier(0.4, 0, 1, 1), opacity 100ms cubic-bezier(0.4, 0, 1, 1);
  }
}

.loginBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.forgot) {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
  }

  button {
    cursor: pointer;
    font-size: 1em;
    padding: 8px 28px;
    border: none;
    border-radius: 4px;

    background-color: #1a73e8;
    color: #fff;
    position: relative;

    &:hover {
      background-color: #1866cc;
    }
    &[disabled] {
      cursor: unset;
      background-color: #12478c;
    }
  }
}
